
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --white: #ffe;
  --skyblue: #59A3E3;
  --backgcolour: #03071A; 
  --maroon:  #5C0438;
}

/* Makes the html / webpage as tall or taller as the browser window */
html {
    min-height:100vh;
    scroll-behavior: smooth;
  }


h1, h2 {
    font-family: "Fascinate", sans-serif;
    display: inline-block;
}

h2 {
    font-size: 200%;
}

/* Makes the body as tall or taller as the browser window, less html element's padding */
body {
    min-height:calc(100vh - 2 * 20px);
    font-family: "Roboto", sans-serif;
    text-align: initial;
    color: var(--white);
    background-color: var(--backgcolour);
    display: inline-block;
}

header {
    font-size: 300%;
    text-align: center;
    /*background-image: url("../../media/curtains.png");
    background-repeat: no-repeat;
    background-size: 100%;*/
  }

header,
#topnav,
main,
footer,
section,
div
{
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
  border: 5px solid grey;
}


img {
    display: inline-block;
    object-fit: contain;
    width:50%;
    height: 50%;
    /*object-fit:cover;*/
    margin: 25px 10px;
}

/*iframe {
    
    display: inline-block;
    margin: 25px 10px;
}*/

/* this is likely no suitable - might be better for inline-block or look at a better layout manager */
/* overflow: auto needs to go into the parent element */
/* an empty div can also stop a footer from rising up to cause a problem with below*/


/*div { 
    overflow: auto; 
}*/

.flex-container{ 
    display: flex;
    /*flex-wrap: wrap;
    /*clear: both;*/
}


/* ADD STICKY FOR THE SCROLLING NAV, CHECK MARGIN AND PADDING IF USING ABSOLUTE AND FIXED STYLES */
/* make z-index: higher than the rest eg 0 is the default;*/

nav#topnav {
    font-family: "Roboto", sans-serif;
    list-style-type: none;
    text-align: center;
    background-color: var(--maroon);
    font-size: 25px;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}


/* non-interactive link */
nav#topnav a:link,
a:visited {
    background-color: var(--backgcolour);
    color: var(--white);
    padding: 14px 25px;
    text-decoration: none;
    /* see if the below might be better in the nav#topnav (above) */
    display: inline-block;
    transition: 0.4s;
}

/* interactive/focused link */
nav#topnav a:hover,
nav a:active,
nav a:focus {
    color: var(--skyblue);
}

table {
    border-collapse: collapse;
    /*width:50%;
/* try 
display:inline-table; */ 
display: inline-block;
}

table, th, td {
    border:1px solid #ddd;
    padding: 8px;
  }

table th {
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--maroon);
  }

  #anchor {
    scroll-margin-top: 300px;
  }

  div.card3D {
    background-color:var(--maroon);
    /*box-sizing: border-box;*/
    height: 300px;
    width: 200px;
    padding: 5px;
    overflow: auto;
    position: relative;
  }

  div.card3D > div {
    height: calc(100% - 10px);
    width: calc(100% - 10px);
        /*box-sizing: border-box;*/
    padding: 5px 10px;
    position: absolute;
    transition: 3s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  div.card3D > div:nth-child(1) {
    border: 4px #59A3E3;
    transform: rotateY(0deg);
  }

  div.card3D:hover > div:nth-child(1) {
    border: 4px #59A3E3;
    transform: rotateY(180deg);
  }

  div.card3D > div:nth-child(2) {
    border: 4px #59A3E3;
    transform: rotateY(180deg);
  overflow: auto;
  }

  div.card3D:hover > div:nth-child(2) {
    border: 4px #59A3E3;
  overflow: auto;
  transform: rotateY(360deg);
  }

/*  #debug pre { 
    overflow-y: scroll; 
}*/


fieldset {
    display:flex;
    margin:0px;
    width: fit-content;
    border-width: 0px;
   }


   fieldset input[type="radio"] {
    display: none;
   }
  

   fieldset input[type="radio"] + label {
    display: inline-block;
    padding: 15px 25px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--maroon);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    transition-duration: 0.4s;
  }

  fieldset input[type="radio"] + label:hover {background-color: var(--skyblue)}


   fieldset input[type="radio"]:checked + label{
    background-color: var(--skyblue);
    color: var(--white);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  
   fieldset input[type="radio"]:first-of-type + label {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
   }   
  
   fieldset input[type="radio"]:last-of-type + label {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
   } 

   input[type=text] {
    width: 50%;
    padding: 8px 16px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 2px solid maroon;
    background-color: var(--white);
    border-radius: 4px;
  }

  input[type=submit]{
    background-color: var(--maroon);
    border: var(--skyblue);
    color: var(--white);
    padding: 15px 25px;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    transition-duration: 0.4s;
  }

  input[type=submit]:hover {background-color: var(--skyblue)}

  select {
    padding: 8px 8px;
    border: var(--maroon);
    border-radius: 4px;
    background-color: var(--white);
  }