@import url("https://fonts.googleapis.com/css2?family=Fascinate&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --white: #ffe;
  --skyblue: #59a3e3;
  --backgcolour: #03071a;
  --maroon: #5c0438;
}

/* Makes the html / webpage as tall or taller as the browser window */
html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

h1,
h2 {
  font-family: "Fascinate", sans-serif;
  display: inline-block;
}

h2 {
  font-size: 200%;
}

/* Makes the body as tall or taller as the browser window, less html element's padding */
body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  text-align: initial;
  color: var(--white);
  background-color: var(--backgcolour);
  display: inline-block;
}

header {
  font-size: 300%;
  text-align: center;
}

.heading {
  padding: 0px 30px;
  box-sizing: border-box;
  background-color: var(--skyblue);
  text-align: center;
  font-size: 125%;
}

.heading2 {
  padding: 0px 25px;
  box-sizing: border-box;
  background-color: var(--maroon);
}

span {
  color:red;
  font-size: 125%
  /* font-weight: bold; */
}
footer {
  background-color: var(--skyblue);
  color: black;
  text-align: initial;
  box-sizing: border-box;
  text-align: center;
  padding-top: 4vh;
  padding-bottom: 4vh;
}

#form {
  padding-left: 2vh;
  padding-bottom: 4vh;
}

img {
  max-width: 100%;
  height: auto;
}

.flex-container {
  display: flex;
  padding: 25px 25px;
  background-color: var(--backgcolour);
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: row wrap;
}

.flex-container > div {
  background-color: var(--backgcolour);
  font-size: initial;
}

nav#topnav {
  font-family: "Roboto", sans-serif;
  list-style-type: none;
  text-align: center;
  background-color: var(--maroon);
  font-size: 25px;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

nav#topnav a.current {
background-color: var(--maroon);
transition: 0.3s;
}

/* non-interactive link */
nav#topnav a:link,
a:visited {
  background-color: var(--backgcolour);
  color: var(--white);
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
  transition: 0.4s;
}

/* interactive/focused link */
nav#topnav a:hover,
nav a:active,
nav a:focus {
  color: var(--skyblue);
}

table {
  border-collapse: collapse;
  display: inline-block;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}

table th {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--maroon);
}

#anchor {
  scroll-margin-top: 300px;
}

#debug pre {
  overflow-y: scroll;
}

#movie-card-container {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 4vh ;
}

fieldset {
  display: flex;
  margin: 0px;
  width: fit-content;
  border-width: 0px;
}

fieldset input[type="radio"] {
  display: none;
}

fieldset input[type="radio"] + label {
  display: inline-block;
  width: 140px;
  padding: 15px 25px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: var(--maroon);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  transition-duration: 0.4s;
}

fieldset input[type="radio"] + label:hover {
  background-color: var(--skyblue);
}

fieldset input[type="radio"]:checked + label {
  background-color: var(--skyblue);
  color: var(--white);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

fieldset input[type="radio"]:first-of-type + label {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

fieldset input[type="radio"]:last-of-type + label {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

input[type="text"] {
  width: 50%;
  padding: 8px 16px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid var(--skyblue);
  background-color: var(--white);
  border-radius: 4px;
}

input[type="email"] {
  width: 50%;
  padding: 8px 16px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 2px solid var(--skyblue);
  background-color: var(--white);
  border-radius: 4px;
}

input[type="submit"] {
  background-color: var(--maroon);
  border: 5px solid var(--white);
  color: var(--white);
  padding: 15px 25px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}

input[type="submit"]:hover {
  background-color: var(--skyblue);
}

select {
  padding: 8px 8px;
  border: var(--maroon);
  border-radius: 4px;
  background-color: var(--white);
}

#NowShowing,
#AboutUs,
#SeatingAndPrices,
#Booking {
  min-height: 100vh;
  max-width: 100vw;
  padding-top: 4vh;
}

#NowShowing {
  padding-bottom: 10vh;
}

.front-panel {
  display: flex;
  box-shadow: 0px 0px 10px 5px lightgrey;
  border-radius: 10px;
  align-items: center;
}
.movie-poster {
  display: flex;
  align-items: center;
  min-height: 40vh;
  width: 40%;
}

.movie-name {
  display: flex;
  font-size: 20px;
  width: 50%;
  min-height: 40vh;
  justify-content: center;
  align-items: center;
}

.back-panel {
  display: flex;
  box-shadow: 0px 0px 10px 5px lightgrey;
  border-radius: 10px;
}

.movie-blurb {
  text-align: center;
  min-height: 40vh;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.movie-times {
  width: 50%;
  min-height: 40vh;
}

.flip-card {
  background-color: transparent;
  display: flex;
  width: 40vw;
  min-height: 40vh;
  margin: 5vh 0;
  perspective: 1000px;
}

.flip-card-inner {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 40vh;
  text-align: center;
  transition: transform 3s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  background-color: var(--maroon);
  position: absolute;
  width: 100%;
  min-height: 40vh;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: var(--maroon);
  color: var(--white);
}

.flip-card-back {
  background-color: var(--maroon);
  color: var(--white);
  transform: rotateY(180deg);
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 3vw;
  }

  .heading2 {
    font-size: 4vw;
  }
  nav#topnav {
    font-size: 4vw;
    border: 5px solid var(--skyblue);
  }

  .flex-container {
    font-size: 4vw;
  }

  table,
  th,
  td {
    font-size: 4vw;
  }

  .flip-card {
    width: 65vw;
    min-height: 40vh;
  }

  .movie-poster {
    width: 40%;
    min-height: 40vh;
  }

  .movie-name {
    font-size: 3vw;
    width: 50%;
    min-height: 40vh;
  }

  .movie-blurb {
    font-size: 3vw;
    min-height: 40vh;
    width: 40%;
  }

  .movie-times {
    font-size: 3vw;
    width: 50%;
    min-height: 40vh;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 4vw;
  }

  .heading2 {
    font-size: 4vw;
  }
  nav#topnav {
    font-size: 4vw;
    border: 5px solid var(--skyblue);
  }
  nav#topnav a:link,
  a:visited {
    display: block;
  }
  .flex-container {
    font-size: 4vw;
  }

  table,
  th,
  td {
    font-size: 4vw;
  }

  .flip-card {
    width: 65vw;
    min-height: 40vh;
  }

  .movie-poster {
    min-height: 40vh;
  }

  .movie-name {
    font-size: 3vw;
    min-height: 40vh;
  }

  .movie-blurb {
    font-size: 3vw;
    min-height: 40vh;
    width: 40%;
  }

  .movie-times {
    font-size: 3vw;
    width: 50%;
    min-height: 40vh;
  }
}

@media screen and (max-width: 480px) {

  header {
    font-size: 125%;
    text-align: center;
  }
  .heading {
    font-size: 4vw;
  }

  .heading2 {
    font-size: 4vw;
  }
  nav#topnav {
    border: 5px solid var(--skyblue);
  }
  .flex-container {
    font-size: 5vw;
  }

  table,
  th,
  td {
    font-size: 3vw;
  }

  .flip-card {
    width: 65vw;
    min-height: 40vh;
  }

  .front-panel {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .movie-poster {
    min-height: 20vh;
  }

  .movie-name {
    font-size: 3vw;
    min-height: 20vh;
  }

  .movie-blurb {
    font-size: 3vw;
    min-height: 40vh;
    width: 40%;
  }

  .movie-times {
    font-size: 3vw;
    width: 50%;
    min-height: 40vh;
  }

  
}
